<header class="header-alumnos">
    <div class="contenido-izquierda">
        <img src="alumno.png" alt="logo-alumnos" class="alumno-logo">
        <h1 class="titulo">Inges ...</h1>
    </div>

    <div class="buscador-container">
        <i class="fas fa-search icono-lupa"></i>
        <input type="text" placeholder="Buscar alumno..." class="buscador">
    </div>

    <nav class="opciones-acciones">
        <a href="/home" class="opcion">Registrar</a>
        <a href="/ejecutar" class="opcion">Ejecutar</a>
        <a href="#" class="opcion">Historial</a>
    </nav>
</header>
